THEMATA_LISTEN_ADDR=localhost:8081
DATABASE_URL=postgresql://your-db
THEMATA_REDIS_URL=redis://127.0.0.1:6379
THEMATA_JWT_SECRET=XXX
THEMATA_GITHUB_APP_NAME=XXX
THEMATA_GITHUB_CLIENT_ID=XXX
THEMATA_GITHUB_CLIENT_SECRET=XXX
# XxHash3_64 format
THEMATA_METRICS_SECRET_HASH=XXX
